@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :host, :root {
    --background: 240 6% 10%;
    --foreground: 0 0% 95%;
    --border: 240 4% 16%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }
}
